*, *:after, *:before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'VT323', monospace;
    font-size: 1em;
    text-align: center;
}
/* login Test */
.login
{
    transform: translate(10%, 0%);
    color: azure;
    padding: 5%;
    max-width: 80%;
    font-size: 2em;
    position: relative;
    z-index: 1;
    overflow-y: auto;
}
.titlelogin
{
    color: aquamarine;
    font-size: 2em;
    width: 100%;
}
.login form label
{
    padding:4%;
    width: 100%;
}
.login form input
{
    padding:2%;
    width: 100%;
    margin: 5%;
}
.login form input :hover
{
    background-color: aqua;
}
/* progress */
.progress
{
    transform: translate(10%, 0%);
    padding: 5%;
    max-width: 80%;
    font-size: 1.5em;
    color: azure;
    position: relative;
    z-index: 1;
}
.text
{
    margin: 20%;
    display:block;
}
#timer
{
    margin: 1%;
    display:block;
    color: aquamarine;
}
/* locked */
.blocked
{
    transform: translate(10%, 0%);
    padding: 2%;
    max-width: 80%;
    font-size: 1em;
    color: azure;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.719);
}
.title
{
    padding: 5%;
    font-size: 2em;
}
.greetings
{
    padding: 2%;
    font-size: 1.5em;
}
.user
{
    color:aquamarine; 
}
.bodys
{
    padding: 2%;
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.1;
}
.list
{
    padding: 5%;
    font-size: 1em;
}
.item
{
    text-align: justify;
    line-height: 1.3;
}
.links
{
    color: aquamarine;
    margin: 10%;
    padding: 20%;
    font-size: 1.5em;
}
.links:hover
{
    color:brown;
}
/* universal */
.mtx
{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -99;
}
